<h4>{{description}}</h4>


<div ng-app="locatorApp">

    <ul class="nav nav-pills">
        <li role="presentation" ui-sref-active="active"><a ui-sref="display" >Search</a></li>
        <!--<li role="presentation" ui-sref-active="active"><a ui-sref="older" >Older Version</a></li>-->
        <!--<li role="presentation" ui-sref-active="active"><a ui-sref="simple" >Simple Version</a></li>-->
        <li role="presentation" ui-sref-active="active"><a ui-sref="personalized" >Personalized Books</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="about" >About</a></li>
    </ul>

    <hr />
    <div ui-view></div>

</div>


<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="../vendor/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="../vendor/ui-utils/ui-utils.js"></script>
<script src="../vendor/ui-maps/angular-google-maps.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>

<!-- this is to test out an older implmentation of maps -->
<script src="http://angulargm.herokuapp.com/angular-gm-0.3.1.min.js"></script>

<script src="../app_locator/app.js"></script>
<script src="../app_locator/location/displayController.js"></script>
<script src="../app_locator/location/olderController.js"></script>
<script src="../app_locator/location/simpleController.js"></script>
<script src="../app_locator/location/personalizedController.js"></script>
<script src="../app_locator/filters/filters.js"></script>
<script src="../app_locator/services/unitedStatesService.js"></script>
